<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573767045890-27de9ls697brkpocmr2d2qr3usvo5n3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573767045890-27de9ls697brkpocmr2d2qr3usvo5n3s</string>
	<key>API_KEY</key>
	<string>AIzaSyD23fmfQisZ_mFeU09eMmJ1iJ4z7WiUHHc</string>
	<key>GCM_SENDER_ID</key>
	<string>573767045890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SparkSeeker</string>
	<key>PROJECT_ID</key>
	<string>sparkseeker-c5c4e</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkseeker-c5c4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573767045890:ios:e9bac83d09d1d9c564681b</string>
</dict>
</plist>